
    <div class="container main-section">
      <h2>Image Upload</h2>
      <input type="file" (change)="fileChangeEvent($event)" />
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="16 / 9"
        [resizeToWidth]="300"
        [roundCropper]="false"
        [onlyScaleDown]="true"
        format="png"
        (imageCroppedBase64)="imageCroppedBase64($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
        style="max-height: 33vh"
        [style.display]="cropperReady ? null : 'none'"
      ></image-cropper>

      <img [src]="croppedImage" />
      <button type="button" class="btn btn-light" (click)="skip()">Skip</button>
      <button type="button" class="btn btn-light" (click)="saveImage()">Save</button>

    </div>


