<!-- Navigation -->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Near News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation" (click)="showMenu =! showMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse justify-content-end collapse" [ngClass]="{'collapse' : showMenu ,'' : !showMenu }" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link hand" id="languageSelcet" ngbDropdownToggle>
            <i class="fa fa-language"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="languageSelcet">
            <button class="dropdown-item">English</button>
            <button class="dropdown-item" onclick="selectLanguage()">Telugu</button>
            <button class="dropdown-item">Hindi</button>
          </div>
        </div>
      </li>
      <li class="nav-item active">

        <a  *ngIf="userInformation?.name" (click)="dashboardRedirect(userInformation)" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/home" (click)="showMenu =! showMenu" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" (click)="showMenu =! showMenu" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hand" *ngIf="!userInformation?.name" (click)="openVerticallyCentered(content);showMenu =! showMenu">Login</a>
        <a class="nav-link hand" *ngIf="userInformation?.name" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="isLogin">Login</h4>
    <h4 class="modal-title" *ngIf="">reg</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="isLogin">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm,modal)">
        <div class="form-group">
          <label for="exampleInputEmail1">User ID</label>
          <input type="text" class="form-control" formControlName="userId" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary">Login</button>
          <button type="button" class="btn btn-info" (click)="isRegister = true;isLogin = false">Register</button>
        </div>
      </form>
    </div>
    <div *ngIf="isRegister">
      <form [formGroup]="registerForm" (ngSubmit)="onRegistration(registerForm)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="First Name" [ngClass]="{ 'is-invalid':  registerForm.controls.name.errors }">
          <div *ngIf="registerForm.controls.name.errors " class="invalid-feedback">
            <div *ngIf="registerForm.controls.name.errors.required"> Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="userid">UserID</label>
          <input type="text" class="form-control" formControlName="userId" id="userid" placeholder="User Id"
            (blur)="onBlurMethod($event)">
          <div *ngIf="validationMessage" class="invalid-feedback">
            <span> {{validationMessage}}</span>
          </div>
        </div>
        <div class="form-group">
          <label for="emailId">Email address</label>
          <input type="email" class="form-control" formControlName="emailId" id="emailId" placeholder="Email address" [ngClass]="{ 'is-invalid':  registerForm.controls.emailId.errors }"
            (blur)="onBlurMethod($event)">
          <div *ngIf="registerForm.controls.emailId.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.emailId.errors.required">First Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="phoneNum">Phone Number</label>
          <input type="text" class="form-control" formControlName="phoneNum" id="phoneNum" placeholder="Phone Number" [ngClass]="{ 'is-invalid':  registerForm.controls.phoneNum.errors }"
            (blur)="onBlurMethod($event)">
          <div *ngIf="registerForm.controls.phoneNum.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.phoneNum.errors.required">First Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password" [ngClass]="{ 'is-invalid':  registerForm.controls.password.errors }">
          <div *ngIf="registerForm.controls.password.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.password.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <ngx-recaptcha2
            [siteKey]="siteKey"
            [size]="'Normal'"
            [hl]="'en'"
            [theme]="'Light'"
            [type]="'Image'"
            (success)="handleSuccess($event)"
            formControlName="recaptchaResp">
          </ngx-recaptcha2>
        </div>
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-info" (click)="isRegister = false;isLogin = true">Login</button>
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
