<!-- Navigation -->

<header class="fixed-top">
  <div class="nn-header-left">
    <div class="position-relative">
      <a (click)="openMenu()" class="hand">
        <i class="fa fa-bars white-font"></i>
      </a>
      <div [attr.aria-hidden]="menuOpen" [class]="!menuOpen? 'slideMenu':'slideMenu menu-open'">
        <a (click)="menuOpen = false"><i class="fa fa-arrow-left"></i></a>
        <ul >
          <li *ngIf="userInformation?.name" class="nav-item hand">
            <a [ngClass]="{'active-link':dashboard}"
               (click)="dashboardRedirect(userInformation)" class="nav-link">Dashboard</a>
          </li>
          <li class="nav-item hand">
            <a routerLink="/home" routerLinkActive="active-link" (click)="showMenu =! showMenu"
               class="nav-link">Home</a>
          </li>
          <li class="nav-item hand">
            <a routerLink="/about" routerLinkActive="active-link" (click)="showMenu =! showMenu"
               class="nav-link">About</a>
          </li>
          <li class="nav-item hand d-xs-block d-none">
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>

    </div>

    <span class="d-xs-none">News</span>
  </div>
  <span class="nn-logo">N</span>
  <div class="nn-header-right">
    <i class="fa fa-search white-font"></i>
    <span *ngIf="!userInformation?.name" class="white-font d-xs-none hand"
          routerLink="/login">Login</span>
    <div class="d-xs-none hand position-relative" *ngIf="userInformation?.name">
      <!---->
      <span class="user-image" (click)="openPopup()">{{userInformation.name}}</span>
      <div class="pop-up shadow" *ngIf="isOpen">
        <ul>
          <li class="nav-item hand">
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</header>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="isLogin">Login</h4>
    <h4 class="modal-title" *ngIf="isRegister">Registration Form</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>

  <div class="modal-body">
    
    <div *ngIf="isRegister">
      <form [formGroup]="registerForm" (ngSubmit)="onRegistration(registerForm)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="First Name"
                 [ngClass]="{ 'is-invalid':  registerForm.controls.name.errors && (registerForm.controls.name.touched || registerForm.controls.name.dirty) }">
          <div
            *ngIf="registerForm.controls.name.errors && (registerForm.controls.name.touched || registerForm.controls.name.dirty)"
            class="invalid-feedback">
            <div *ngIf="registerForm.controls.name.errors.required"> Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="emailId">Email address</label>
          <input type="email" class="form-control" formControlName="emailId" id="emailId" placeholder="Email address"
                 [ngClass]="{ 'is-invalid':  registerForm.controls.emailId.errors && (registerForm.controls.emailId.touched || registerForm.controls.emailId.dirty) }"
                 (blur)="onBlurMethod($event)">
          <div
            *ngIf="registerForm.controls.emailId.errors && (registerForm.controls.emailId.touched || registerForm.controls.emailId.dirty)"
            class="invalid-feedback">
            <div *ngIf="registerForm.controls.emailId.errors.required">Email required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNum">Phone Number</label>
          <input type="text" class="form-control" formControlName="phoneNum" id="phoneNum" placeholder="Phone Number"
                 [ngClass]="{ 'is-invalid':  registerForm.controls.phoneNum.errors && (registerForm.controls.phoneNum.touched || registerForm.controls.phoneNum.dirty) }"
                 (blur)="onBlurMethod($event)">
          <div
            *ngIf="registerForm.controls.phoneNum.errors && (registerForm.controls.phoneNum.touched || registerForm.controls.phoneNum.dirty)"
            class="invalid-feedback">
            <div *ngIf="registerForm.controls.phoneNum.errors.required">Phone number required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password"
                 [ngClass]="{ 'is-invalid':  registerForm.controls.password.errors && (registerForm.controls.password.touched || registerForm.controls.password.dirty) }">
          <div
            *ngIf="registerForm.controls.password.errors && (registerForm.controls.password.touched || registerForm.controls.password.dirty)"
            class="invalid-feedback">
            <div *ngIf="registerForm.controls.password.errors.required">Password required</div>
          </div>
        </div>
        <div class="form-group">
          <ngx-recaptcha2
            [siteKey]="siteKey"
            [size]="'Normal'"
            [hl]="'en'"
            [theme]="'Light'"
            [type]="'Image'"
            (success)="handleSuccess($event)"
            formControlName="recaptchaResp">
          </ngx-recaptcha2>
        </div>
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-info" routerLink="/login">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #authenticatePopUp let-alertmodal>
  <div class="modal-header">
    <h4 class="modal-title">Want to post ?</h4>
    <button type="button" class="close" aria-label="Close" (click)="alertmodal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Complete simple registration</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="goToRegister(content, alertmodal)">Go to register</button>
  </div>
</ng-template>
