<div class="container main-section">
  <div class="row">
    <div class="col col-sm-12">
      <div class="card p-3 mt-3">
        <form class="p-5 p-xs-0" [formGroup]="addChannelForm">
          <div class="form-group row">
            <label for="location" class="col-sm-3 col-form-label">Channel</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="name" id="location" maxlength="150">
            </div>
          </div>
          <div class="form-group row">
            <label for="locDesc" class="col-sm-3 col-form-label">Channel Description</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="desc" id="locDesc" maxlength="150">
            </div>
          </div>

          <div class="form-group row">
            <label for="locDesc" class="col-sm-3 col-form-label">Location</label>
            <div class="col-sm-9">
              <ng4geo-autocomplete (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
            </div>
          </div>

          <div class="form-group row">
            <label for="locDesc" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 nn-radio">
              <input id="private" type="radio" formControlName="publicChannel" name="publicChannel"
                     [value]="flag" (click)="selectChannelType(flag)">
              <label for="private">Private</label>
              <input id="public" type="radio" formControlName="publicChannel" name="publicChannel"
                     [value]="!flag" (click)="selectChannelType(!flag)">
              <label for="public">Public</label>
            </div>
          </div>
          <div class="form-group row" *ngIf="!approverFlag">
            <label for="locDesc" class="col-sm-3 col-form-label">Approver</label>
            <div class="col-sm-9">
                <!-- you have to add your option elements inside of a select element for legacy reasons -->

                <select [(ngModel)]="selectApprover" [ngModelOptions]="{standalone: true}"
                  class="form-control col-4 col-xs-12" (change)="approverSelection(selectApprover)">
                  <option *ngFor="let approver of approversData" [ngValue]="approver">{{approver.name}} </option>
                </select>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" (click)="addChannel(addChannelForm)">Save</button>
          </div>

        </form>


      </div>
    </div>
  </div>
</div>
