/*@include media-breakpoint-only(xs) {
  input{
    min-width: auto;
  }
  .flex-xs-column{
    flex-direction: column !important;
  }
  .card-image{
    width: 100%;
    height: 200px;
  }
  .p-xs-0{
    padding: 0 !important;
  }
  .d-xs-block{
    display: block !important;
  }
  .d-xs-none{
    display: none !important;
  }
}

@include media-breakpoint-between(xs , sm){
  .card-columns{
    column-count: 2;
  }
}*/
@media (max-width: 575.98px) {
  .col-xs-12{
    flex: 0 0 100%;
    max-width: 100%;
  }
  input{
    min-width: auto;
  }
  .flex-xs-column{
    flex-direction: column !important;
  }
  .card-image{
    width: 100%;
    height: 250px;
  }
  .p-xs-0{
    padding: 0 !important;
  }
  .d-xs-block{
    display: block !important;
  }
  .d-xs-none{
    display: none !important;
  }
  .offset-xs-0{
    margin-left: 0;
  }
  .brandrow {
    position: relative;
    .customarea , .loginArea{
      position: absolute;
      top: 10px;
      width: 50%;
    }
    .customarea{
      left: 0;
    }
    .loginArea{
      right: 0;
    }
    .logoarea{
      display: none;
    }
  }
  .navarea{
    margin-top: 50px;
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
