<div class="container main-section" *ngIf="!uploadImage">
  <h3 class="white-font">Create New Post</h3>

  <div class="row">
    <div class="col-sm-6 col-xs-12 form-group row">
      <label for="location" class="col-sm-4 col-form-label white-font">Channel</label>
      <div class="col-sm-6">
        <select class="form-control" id="location" [(ngModel)]="selectChannel"
                (change)="selectChannelObj(selectChannel)">
          <option *ngFor="let data of channelData" [ngValue]="data">{{ data.name ? data.name : data.desc }}</option>
        </select>
      </div>
    </div>
    <!--<div class="col-sm-6 col-xs-12 text-right row">
      <label for="prefLanguage" class="col-sm-4 col-form-label white-font">Language</label>
      <div class="col-sm-6">
        <select id="prefLanguage" class="form-control" (change)="changelanguage($event)" [(ngModel)]="selectedLanguage"
                [ngModelOptions]="{standalone: true}">
          <option value="en" DISABLED>SELECT</option>
          <option value="te">Telugu</option>
          <option value="hi">Hindi</option>
          <option value="en">English</option>
        </select>
      </div>
    </div>-->


  </div>

  <div class="card">

    <!--<ng4geo-autocomplete [userSettings]="userSettings" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>-->
    <div class="row">
      <div class="col">
        <form [formGroup]="editorForm" class="p-5">


          <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Story Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="title" id="title" maxlength="150">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Story Description:</label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control mb-1" formControlName="description"
                        id="transliterateTextarea"></textarea>
              <label for="upladImage" class="col-form-label mr-3">
                <i class="fa fa-camera"></i>
              </label>
              <input id="upladImage" type="file" (change)="fileChangeEvent($event)"/>
              <label for="upladvideo" class="col-form-label">
                <i class="fa fa-video-camera"></i>
              </label>
              <input id="upladvideo" type="file" (change)="fileChangeEvent($event)"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Story Location:</label>
            <div class="col-sm-10">
              <ng4geo-autocomplete (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
            </div>
          </div>

          <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">Story Date:</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="date" formControlName="newsDate">
            </div>
          </div>
          <!-- <div class="form-group row">
            <label class="col-sm-2 col-form-label">Current Location:</label>
            <div class="col-sm-10">
              <ng4geo-autocomplete (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
              <input ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
            </div>
          </div> -->

          <!-- <div class="form-group row">
            <label class="col-sm-2 col-form-label">Approver:</label>
            <div class="col-sm-10">
              <select [(ngModel)]="selectApprover" [ngModelOptions]="{standalone: true}"
                      class="form-control col-4" (change)="approverSelection(selectApprover)" [disabled]="true">
                <option *ngFor="let approver of approversData" [ngValue]="approver">{{approver.name}}</option>
              </select>
            </div>
          </div> -->

        <!--  <div class="form-group row">
            <label for="upladImage" class="col-sm-2 col-form-label">Image Upload:</label>
            <div class="col-sm-10">
              <input id="upladImage" type="file" (change)="fileChangeEvent($event)"/>
            </div>
            <img [src]="url" *ngIf="url" width="700" height="600">
          </div>-->
         <!-- <div class="form-group row">
            <label class="col-sm-2 col-form-label">Type Indian Language</label>
            <div class="col-sm-6">
              <select id="language" class="form-control">
                <option value="en_in">English</option>
                <option value="hi_in" selected="selected" alt="Type in Hindi">Hindi</option>
                <option value="pn_in" alt="Type in Panjabi">Punjabi</option>
                <option value="as_in" alt="Type in Assamese">Assamese</option>
                <option value="gj_in" alt="Type in Gujarati">Gujarati</option>
                <option value="mr_in" alt="Type in Marathi">Marathi</option>
                <option value="bn_in" alt="Type in Bengali">Bengali</option>
                <option value="ml_in" alt="Type in Malayalam">Malayalam</option>
                <option value="tm_in" alt="Type in Tamil">Tamil</option>
                <option value="tl_in" alt="Type in Telugu">Telugu</option>
                <option value="kn_in" alt="Type in Kannada">Kannada</option>
                <option value="or_in" alt="Type in Oriya">Odia</option>
                <option value="ur_in" alt="Type in Odia">Urdu</option>
              </select>
            </div>
            <div class="col-sm-4">
              <a id="kbdIcon">
                <img src="../../../assets/CDAC_files/KbdIcon.ico" alt="GIST : onscreen Floating keyboard"></a>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-xs-0 offset-2 col-sm-10">
             <textarea name="txtInputSpace1" rows="2" cols="20" id="nameInput" class="form-control"
                       style="font-family: gist_telugu_font;"
                       placeholder="(Eg: bharat)" autocomplete="off"></textarea>
            </div>
          </div>-->

          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary mr-4" (click)="cancel()">Cancel</button>
            <button type="button" class="btn btn-primary mr-4" (click)="addSavePost(editorForm)"
                    [disabled]="!(editorForm.valid)">Save
            </button>
            <button type="submit" class="btn btn-primary" (click)="addPost(editorForm)"
                    [disabled]="!(editorForm.valid) ">Post
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


