<div class="container main-section">
  <div class="row">
    <div class="col">
      <input type="search" [(ngModel)]="search" (change)="searchUsers(search)"
             placeholder="Name/Phone No" name="search">

    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>User Type</th>
    </thead>
    <tbody>
      <tr *ngFor="let list of userAllList;trackBy: trackByFunc">
        <td>{{list.name}}</td>
        <td>{{list.phoneNum}}</td>
        <td>{{list.emailId}}</td>
        <td>
         <label class="switch">
          <input type="checkbox" [(ngModel)]="list.isPaid" (change)="paidUser(list)">
          <span class="slider round"></span>
         </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
