<div class="container main-section">
  <div class="row">
    <div class="col-lg-12">

      <div class="d-flex align-items-center justify-content-end my-2">
        <label class="mb-0 mr-1">Search:</label>
       <!-- <input type="text" class="form-control" placeholder="Location" name="Location" [(ngModel)]="address" #LocationCtrl="ngModel"
               Googleplace (setAddress)="getAddressOnChange($event,LocationCtrl)">-->

        <input ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>


        <!--<ng-multiselect-dropdown
           name="location"
          [placeholder]="'Select channel'"
          [data]="locations"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (onDeSelect)="onDeSelectItem($event)">
        </ng-multiselect-dropdown>-->
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card-columns">
        <div class="card news-card shadow rounded" *ngFor="let news of newsData">
            <div class="subscribed-channel" *ngIf="news.channel && !news.channelData.publicChannel">
                <span>{{news.channelData.name ? news.channelData.name : news.channelData.desc}}</span>
                <button type="button" class="btn btn-link" (click)="subscriptionChannel(news.channel)"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
              </div>
          <img class="card-img-left card-image"
               *ngIf="news.imageChunks.length > 0"
               [src]="'data:image/jpeg;base64,'+news.imageChunks[0].data.data" alt="News image"/>
          <div class="card-body card-block">
            <h5 class="card-title">{{news.title}}</h5>
            <p class="news-content">{{news.description}}</p>
            <a target="_blank" class="reference-link" [href]="news.refLink">{{news.refLink}}</a>
          </div>
          <div class="card-footer">
            <div class="d-flex align-items-center justify-content-between">
            <span class="author-meta">
              <span class="post-name">{{news.publishedBy}}</span><br>
              <span class="post-date">{{news.newsDate}}</span>
            </span>
            <span class="share-setion">
              <tweet [text]="news.title" [url]
                ="localurl+'/'+ news.id"></tweet>
              <a class="hand" (click)="getLinkWhatsapp(news.phoneNumber,news.description)"><i class="fa fa-whatsapp"></i></a>
            </span>
            </div>
            
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
