@import "../../assets/scss/variables";

.subscribed-channel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    font-weight: 600;
    color: $white;
    i{
      color: $white;
      &.is-subscribed{
        color: #ab3939;
      }
    }
}
/*.card-block{
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}*/
.news-card
{
  position: relative;
}
/*.news-card:before, .news-card:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 35px 20px #777;
  transform: rotate(-8deg);
}
.news-card:after
{
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}*/
.card-share{
  font-size: 24px;
  padding: 0.7rem 1.25rem;
  i, a{
    color: $white !important;
  }
}
.post-information{
  font-size: 12px;
  padding-bottom: 1rem;
  span{
    text-transform: capitalize;
  }
}
.add-new{
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 60px;
  color: #fff;
}
.add-buttons{
  position: fixed;
  bottom: 100px;
  right: 30px;
  button{
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }
}
