
.news-card{
  min-height: 350px;
  .card-title{
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 700;
    color: rgba(0,0,0,.8);
  }
  .news-content{
    color: #888;
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .card-footer{
    font-size: 13px;
    .author-meta {
      white-space: nowrap!important;
      text-overflow: ellipsis!important;
      overflow: hidden!important;
    }
  }
}
