@import "../../assets/scss/variables";

.subscribed-channel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background: #31c1ff;
    font-weight: 600;
    color: $white;
    i{
      color: $white;
      &.is-subscribed{
        color: #ab3939;
      }
    }
}
.share-setion{
  font-size: 21px;
}
.text-transform-cap{
  text-transform: capitalize;
}