<div class="container main-section">
  <div class="row">
    <div class="col-lg-12">

      <div class="d-flex align-items-center justify-content-end">
        <label for="locationselect" class="mb-0 mr-1">Choose a location:</label>
        <input list="ice-cream-flavors" id="locationselect"  name="locations" />
        <datalist id="ice-cream-flavors">
          <option *ngFor="let loc of newsData" value="{{loc.location}}">
        </datalist>
      </div>

      <div class="card-deck card-deck-horizontal">
        <div class="card" *ngFor="let news of newsData">
          <div class="card p-0 m-0 flex-row flex-xs-column border-0" >
            <img class="card-img-left card-image" *ngIf="news.imageChunks.length > 0" [src]="'data:image/jpeg;base64,'+news.imageChunks[0].data.data" alt="Card image cap"/>
            <div class="card-body position-relative">
              <h5 class="card-title news-title">{{news.title}}</h5>
              <p class="news-content">{{news.description}}</p>
              <a target="_blank" class="reference-link" [href]="news.refLink">{{news.refLink}}</a>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">Updated at {{news.newsDate}} by {{news.publishedBy}}</small>
            <div class="pull-right share-section">
              <a class="mr-3 hand"><i class="fa fa-thumbs-up"></i>{{news.likesCount}}</a>
              <a class="mr-3 hand"><i class="fa fa-thumbs-down"></i>{{news.dislikesCount}}</a>
              <a class="mr-3 hand"><i class="fa fa-facebook-official"></i></a>
              <a class="mr-3 hand"><i class="fa fa-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</div>
