<div class="container main-section">
  <div class="row">
    <div class="col-lg-12">

      <!-- <div class="d-flex align-items-center justify-content-end my-2 pull-right p-0">
        <label class="mb-0 mr-1 col-6 text-right white-font">Select Location:</label>
         <input type="text" class="form-control" placeholder="Location" name="Location" [(ngModel)]="address" #LocationCtrl="ngModel"
                Googleplace (setAddress)="getAddressOnChange($event,LocationCtrl)">

        <input class="form-control col" ngx-google-places-autocomplete #placesRef="ngx-places"
               (onAddressChange)="handleAddressChange($event)"/>
      </div> -->
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <a class="hand d-flex align-items-center mb-3 white-font" (click)="showChannelNews = false" *ngIf="showChannelNews">
        <i class="fa fa-angle-left mr-2 fa-2x"></i><span>Back</span>
      </a>
      <div class="card-columns" *ngIf="!showChannelNews">
        <div class="card news-card rounded" *ngFor="let news of newsData">

          <!--<img class="card-img-left card-image"
               *ngIf="news.imageChunks.length > 0"
               [src]="'data:image/jpeg;base64,'+news.imageChunks[0].data.data" alt="News image"/>-->
          <img src="../../assets/images/nightsky.jpg" class="card-img-left card-image">
          <div class="card-share d-flex align-items-center justify-content-end">
            <tweet [text]="news.title" class="mr-1" [url]="localurl+'/'+ news.id"></tweet>
            <a class="hand ml-3" (click)="getLinkWhatsapp(news.phoneNumber,news.description)">
              <i class="fa fa-whatsapp"></i>
            </a>
          </div>
          <div class="card-body card-block">            
            <h5 class="card-title">{{news.title}}</h5>
            <p class="news-content">{{news.description}}</p>
            <a target="_blank" class="reference-link" [href]="news.refLink">{{news.refLink}}</a>
            <div class="d-flex align-items-center justify-content-between post-information">
                <span class="post-name text-transform-cap">{{news.publishedBy}}</span>
                <span class="post-date">{{news.newsDate}}</span>
              </div>
          </div>
          <div class="subscribed-channel" *ngIf="news.channel && !news.channelData.publicChannel">
            <a class="hand text-capitalize" (click)="openChannelNews(news.channel)">{{news.channelData.name ?
                                                                                    news.channelData.name :
                                                                                    news.channelData.desc}}</a>
            <button type="button" class="btn btn-link" (click)="subscriptionChannel(news.channel,news)">
              <i class="fa " aria-hidden="true"
                 [ngClass]="{'fa-heart is-subscribed':news.isSubscribed == true,'fa-heart-o': !news.isSubscribed}"></i>
            </button>
          </div>
        </div>

      </div>

      <!-- Channel relevanet news data-->
      <div class="card-columns" *ngIf="showChannelNews">
        <div class="card news-card shadow rounded" *ngFor="let news of channelNewsData">

          <!--<img class="card-img-left card-image"
               *ngIf="news.imageChunks.length > 0"
               [src]="'data:image/jpeg;base64,'+news.imageChunks[0].data.data" alt="News image"/>-->
          <div class="card-share d-flex align-items-center justify-content-end">
            <tweet [text]="news.title" class="mr-1" [url]="localurl+'/'+ news.id"></tweet>
            <a class="hand ml-3" (click)="getLinkWhatsapp(news.phoneNumber,news.description)">
              <i class="fa fa-whatsapp"></i>
            </a>
          </div>
          <div class="card-body card-block">
            <h5 class="card-title">{{news.title}}</h5>
            <p class="news-content">{{news.description}}</p>
            <a target="_blank" class="reference-link" [href]="news.refLink">{{news.refLink}}</a>
          </div>
          <div class="subscribed-channel">
            <span
              class="text-capitalize">{{news.channelData.name ? news.channelData.name : news.channelData.desc}}</span>
            <button type="button" class="btn btn-link" (click)="subscriptionChannel(news.channel,news)">
              <i class="fa " aria-hidden="true"
                 [ngClass]="{'fa-heart is-subscribed':news.isSubscribed == true,'fa-heart-o': !news.isSubscribed}"></i>
            </button>
          </div>
<!--          <div class="card-footer">
            <div class="d-flex align-items-center justify-content-between">
              <span class="author-meta">
                <span class="post-name">{{news.publishedBy}}</span><br>
                <span class="post-date">{{news.newsDate}}</span>
              </span>
              <span class="share-setion">
                <tweet [text]="news.title" [url]
                  ="localurl+'/'+ news.id"></tweet>
                <a class="hand" (click)="getLinkWhatsapp(news.phoneNumber,news.description)"><i
                  class="fa fa-whatsapp"></i></a>
              </span>
            </div>

          </div>-->
        </div>

      </div>
      
      <div class="add-buttons" *ngIf="isCircle">
        <button type="button" class="btn btn-primary" (click)="addChannel()">Add Channel</button>
        <button type="button" class="btn btn-primary" (click)="addPost()">Add Post</button>
      </div>
      <div class="add-new">
        <a class="hand" (click)="isCircle = true;isAdd = false" *ngIf="isAdd"><i class="fa fa-plus-circle"></i></a>
        <a class="hand" (click)="isAdd = true;isCircle = false" *ngIf="isCircle"><i class="fa fa-times"></i></a>
      </div>
    </div>

  </div>
</div>

<ng-template #addChannelModel let-alertmodal>
  <div class="modal-header">
    <h4 class="modal-title">Want to create channel?</h4>
    <button type="button" class="close" aria-label="Close" (click)="alertmodal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Contact Us</p>
    <form>
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="title" maxlength="150">
          </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="email" id="email" maxlength="150">
          </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">purpose</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="purpose" id="title" maxlength="150">
          </div>
        </div>     
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="submit()">Submit</button>
  </div>
</ng-template>