<div class="row m-0 user-start-page">
  <div class="col-auto d-flex align-items-center m-auto full-height no-overflow">
    <form>
      <div class="col-auto">
        <label class="sr-only" for="Username">Username</label>
        <div class="nn-input mb-4">
          <i class="fa fa-user-circle-o"></i>
          <input type="text" id="Username" placeholder="Username">
        </div>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="Password">Password</label>
        <div class="nn-input mb-4">
          <i class="fa fa-lock"></i>
          <input type="text" id="Password" placeholder="Password">
        </div>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="Password">Password</label>
        <div class="nn-input mb-4">
          <i class="fa fa-lock"></i>
          <input type="text" id="Password" placeholder="Password">
        </div>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="Password">Password</label>
        <div class="nn-input mb-4">
          <i class="fa fa-lock"></i>
          <input type="text" id="Password" placeholder="Password">
        </div>
      </div>
      <div class="col-auto mb-4">
        <button routerLink="/login" class="nn-button nn-button-primary-outline">continue</button>
      </div>
      <div class="col-auto d-flex align-items-center justify-content-center">
        <a tabindex="0" class="elections-link">Terms and Conditions</a>
      </div>
    </form>
  </div>
</div>
